
<div class="mainDiv">
    <div class="login-box">
        <h2>Enter Details</h2>
        <form [formGroup]="form" (ngSubmit)="saveData()">
            <div *ngFor="let field of jsonData">
                <div class="user-box">
                    <input type="text" [formControlName]="field.ControlName">
                    <label>{{ field.ControlName }}</label>
                </div>

            </div>
            <div class="myBtns">
                <button class="btn " type="submit">Save</button>
                <button class="btn" type="button" (click)="clearForm()" style="margin-left: 5px;">Clear</button>
            </div> 
        </form>
    </div>

    <div class="tables" *ngIf="tableData.length">
        <h2>User Data</h2>
        <table class="content-table" >
            <thead>
              <tr>
                <th *ngFor="let header of tableHeaders">{{ header }}</th>
              </tr>
            </thead>
            <tbody> 
              <tr class="active-row" *ngFor="let row of tableData">
                <td *ngFor="let header of tableHeaders">{{ row[header] }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
