<div style="display: flex;justify-content:space-between">
    <div class="login-box">
        <h2>Enter Details</h2>
        <form [formGroup]="form" (ngSubmit)="saveData()">
            <div *ngFor="let field of jsonData">
                <div class="user-box">
                    <input type="text" [formControlName]="field.ControlName.toLowerCase()">
                    <label>{{ field.ControlName }}</label>
                </div>

            </div>
            <div class="myBtns">
                <button class="btn " type="submit">Save</button>
                <button class="btn" type="button" (click)="clearForm()" style="margin-left: 5px;">Clear</button>
            </div> 
            
        </form>
    </div>


    <div class="tables" *ngIf="tableData.length">
        <h2>User Data</h2>
        <table class="content-table" >
            <thead>
              <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Contact No</th>
                <th>Email</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active-row" *ngFor="let row of tableData">
                <td>{{row.firstname}}</td>
                <td>{{row?.lastname}}</td>
                <td>{{row?.contactno}}</td>
                <td>{{row?.email}}</td>
                <td>{{row?.address}}</td>
              </tr>
            </tbody>
          </table>
    </div>

   
</div>